body {
  font-family: Lobster;
  color: #dbd6d6;
}

#myVideo {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.smallScreen {
  display: block;
  float: right;
  width: 50%;
  min-height: 23px;
  color: #aaa8a8;
  font-size: 15px;
  text-align: right;
}

.myScreen {
  display: block;
  width: 100%;
  min-height: 43px;
  color: #aaa8a8;
  font-size: 35px;
  border-bottom: solid 1px white;
  text-align: center;
}

.calc {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  z-index: 1;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 8px;
  padding: 10px;
}

.wrapper>div {
  text-align: center;
  padding: 20px;
  font-size: 30px;
  border-radius: 10%;
  border: solid 3px #656666;
  background-color: #000;
}

.wrapper>div:hover {
  background-color: #dbd6d6;
  color: #000;
  cursor: pointer;
}

.wrapper>div.nums {
  border-color: #b4b4b4;
}

.btnC {
  grid-column: 1/2;
}

.btnCE {
  grid-column: 2/3;
}

.btnWaluta {
  grid-column: 3/5;
}

.chooseCurrency {
  width: 70%;
  height: 80vh;
  overflow: auto;
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  background-color: #000;
  z-index: 2;
  color: #fff;
  border: solid 3px #656666;
  display: none;
}

.buttonsCurrency {
  margin: 10px 0;
}

.leftTableCurrency {
  width: 48%;
  float: left;
}

.rightTableCurrency {
  width: 48%;
  float: right;
}

.codeCurrency {
  width: 20%;
  float: left;
  border-bottom: solid 1px #656666;
}

.nameCurrency {
  width: 60%;
  float: left;
  border-bottom: solid 1px #656666;
}

.buttonChoose {
  width: 20%;
  float: left;
  border-bottom: solid 1px #656666;
}

.buttonChoose:hover {
  color: #454646;
  cursor: pointer;
}